* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #eee;
}
form {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
.logo{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffcd2b;
    font-weight: bold;
}
.logo:hover{
    color: #eae31c;
    cursor: pointer;
}   
#email,#mpassword{
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
}
.btn {
    background-color: #f3ae2e;
    border: 1px solid #f3ae2e;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}
.btnregister{
    width: 100%;
    background-color: #f3ae2e;
    border: 1px solid #f3ae2e;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:70px;
    text-decoration: none;
    background-color: #d7d7d7;
}

a{
    text-decoration: none;
    padding-right: 40px;
    margin-left: 10px;
    color: #534c4c;
}
