body{
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
.logo{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffcd2b;
    font-weight: bold;
}
.logo:hover{
    color: #eae31c;
    cursor: pointer;
}
form {
    width: 350px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}
#showpassword{
    font-size: small;
}
input[type=radio]{
    color: bisque;
}
.btnr{
    background-color: #f3ae2e;
    border: 1px solid #f3ae2e;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}
footer{
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:50px;
    text-decoration: none;
    background-color: #d7d7d7;
}

a{
    text-decoration: none;
    padding-right: 40px;
    margin-left: 10px;
    color: #534c4c;
}